<!DOCTYPE html>
<html>

<head>
  <title>Webex Guest Issuer (sample app)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="content">
    <h1>Webex Guest Issuer App example: Home</h1>
    <p>Please enter your name, id, and the person you want to contact:</p>
    <form action="/submit">
      User name:<br>
      <input type="text" name="username" value="Olivia"><br>
      User identifier:<br>
      <input type="text" name="userid" value="1234"><br>
      To Person Email:<br>
      <input type="text" name="toPerson" value="stsfartz@cisco.com"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>