<head>
   <title>Guest Issuer Lab</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
 </head>
 
 <body>
   <h1>Webex Issuer App example: Space Widget</h1>
 
   <p>Welcome <%= username %></p>
   <p>Your chat and video space is ready, check below:</p>

   <p><i>Wait a few seconds for the Webex Teams widget to load...</i></p>
 
   <div class="webexteams-widget" style="width: 750px; height: 500px;"       
     data-toggle="webex-space"
     data-initial-activity="message"
     data-access-token=<%= token %>
     data-destination-type="email"
     data-destination-id=<%= email %>
   />
 
   <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
 
 </body>
 
 </html>